Repository huawei-noah/SMARTS, pull requests merged in 2021-06, with the labels that each got.

#896 traffic-history data speed and heading tweaks.
  smarts/sstudio/genhistories.py
Labels: imitation

#903 ULTRA Update `docs/setup.md`
  ultra/docs/setup.md
  ultra/install_deps.sh
Labels: ULTRA

#906 Fix args count error caused by `websocket`
  CHANGELOG.md
  envision/client.py
Labels: bug

#925 Update ULTRA's `getting_started.md` documentation
  ultra/docs/getting_started.md
Labels: ULTRA

#901 Fixed internal holes in sumo road network created due to crude map geometry
  CHANGELOG.md
  smarts/core/sumo_road_network.py
Labels: bug

#931 Small fix to `docs/getting_started.md`
  ultra/docs/getting_started.md
Labels: ULTRA

#927 Add flag to disable mission shuffling when generating scenarios in ULTRA
  ultra/docs/multiagent.md
  ultra/tests/scenarios/task00-multiagent/config.yaml
  ultra/tests/test_scenarios.py
  ultra/ultra/scenarios/generate_scenarios.py
  ultra/ultra/scenarios/interface.py
Labels: ULTRA

#935 ULTRA Remove argument parser from `generate_scenarios.py`
  ultra/ultra/scenarios/generate_scenarios.py
Labels: ULTRA

#926 Added `scl zoo install` command to install agents at specified paths.
  CHANGELOG.md
  README.md
  cli/zoo.py
  zoo/README.md
Labels: enhancement

#911 Replaced supervisord with scl
  CHANGELOG.md
  README.md
  cli/cli.py
  cli/run.py
  requirements.txt
  setup.py
  supervisord.conf
Labels: enhancement

#932 ULTRA Migrate from step-based to episode-based sampling
  ultra/tests/test_evaluate.py
  ultra/ultra/evaluate.py
  ultra/ultra/train.py
  ultra/ultra/tune.py
  ultra/ultra/utils/episode.py
Labels: ULTRA

#902 Add default info adapter to remove reward adapter's NeighborhoodVehicles dependency
  ultra/docs/adapters.md
  ultra/tests/test_adapter.py
  ultra/ultra/adapters/__init__.py
  ultra/ultra/adapters/constants.py
  ultra/ultra/adapters/default_info_adapter.py
  ultra/ultra/adapters/default_observation_vector_adapter.py
  ultra/ultra/adapters/default_reward_adapter.py
  ultra/ultra/baselines/agent_spec.py
  ultra/ultra/env/ultra_env.py
Labels: ULTRA

#933 Updated zoo RLAgent to Tensorflow 2.2.1
  CHANGELOG.md
  scenarios/intersections/4lane_t/scenario.py
  zoo/policies/rl-agent/rl_agent-0.1.1-py3-none-any.whl
  zoo/policies/rl-agent/rl_agent-1.0.0-py3-none-any.whl
  zoo/policies/rl-agent/rl_agent/__init__.py
  zoo/policies/rl-agent/rl_agent/agent.py
  zoo/policies/rl-agent/setup.py
  zoo/policies/rl-agent/tests/test_rl_agent.py
Labels: enhancement

#937 ULTRA Run tests in forked subprocesses
  .github/workflows/ci-ultra-tests.yml
Labels: ULTRA

#941 Say which tests are run in ULTRA CI tests rather than use `--ignore`
  .github/workflows/ci-ultra-tests.yml
Labels: ULTRA

#904 ULTRA Minimalize `train.py` script
  ultra/ultra/train.py
Labels: ULTRA

#948 Add frame stacking to ULTRA
  ultra/docs/adapters.md
  ultra/docs/ultra_environments.md
  ultra/tests/test_adapter.py
  ultra/tests/test_env.py
  ultra/ultra/adapters/default_observation_image_adapter.py
  ultra/ultra/env/ultra_env.py
  ultra/ultra/rllib_train.py
Labels: ULTRA

#956 ULTRA Update `MANIFEST.in`
  ultra/MANIFEST.in
Labels: ULTRA

#967 ULTRA Run light base tests in forked subprocesses
  .github/workflows/ci-ultra-tests.yml
Labels: ULTRA

#915 ULTRA Evaluate specific models
  ultra/docs/getting_started.md
  ultra/tests/test_evaluate.py
  ultra/ultra/evaluate.py
  ultra/ultra/tune.py
Labels: ULTRA

#958 ULTRA baselines with new adapters
  ultra/tests/test_replay_buffer.py
  ultra/ultra/baselines/bdqn/bdqn/explore.py
  ultra/ultra/baselines/bdqn/bdqn/network.py
  ultra/ultra/baselines/bdqn/bdqn/policy.py
  ultra/ultra/baselines/common/replay_buffer.py
  ultra/ultra/baselines/dqn/dqn/network.py
  ultra/ultra/baselines/dqn/dqn/policy.py
  ultra/ultra/baselines/sac/sac/policy.py
  ultra/ultra/baselines/td3/td3/cnn_models.py
  ultra/ultra/baselines/td3/td3/policy.py
Labels: ULTRA

#965 ULTRA Sanity check on baselines
  ultra/tests/test_baselines.py
Labels: ULTRA

#978 Fix up Agent Interface Type Numbering.
  smarts/core/agent_interface.py
  smarts/core/controllers/__init__.py
Labels: bug
