Repository huawei-noah/SMARTS, pull requests merged in 2021-03, with the labels that each got.

#627 Update adapter test after adapter and state preprocessor fusion
  ultra/tests/test_adapter.py
Labels: ULTRA

#620 Update agent spec to retrieve encoder info from policy parameters
  ultra/ultra/baselines/agent_spec.py
Labels: ULTRA

#635 Created base RLlib documentation
  ultra/README.md
  ultra/docs/getting_started.md
  ultra/docs/rllib.md
  ultra/docs/setup.md
Labels: ULTRA, documentation

#646 Fix add ijson to setup
  setup.py
Labels: bug

#616 ULTRA RLlib: State Preprocessor Refactoring
  .github/workflows/ci-ultra-tests.yml
  ultra/ultra/baselines/adapter.py
  ultra/ultra/baselines/bdqn/bdqn/policy.py
  ultra/ultra/baselines/common/baseline_state_preprocessor.py
  ultra/ultra/baselines/common/social_vehicle_config.py
  ultra/ultra/baselines/common/social_vehicle_extraction.py
  ultra/ultra/baselines/common/state_preprocessor.py
  ultra/ultra/baselines/ddpg/ddpg/policy.py
  ultra/ultra/baselines/dqn/dqn/policy.py
  ultra/ultra/baselines/ppo/ppo/policy.py
  ultra/ultra/baselines/sac/sac/policy.py
Labels: ULTRA

#676 Remove unused and generated files from ULTRA tests
  ultra/tests/ppo_models/models/19/ppo_network.pth
  ultra/tests/ppo_models/models/9/ppo_network.pth
  ultra/tests/test_analysis.py
  ultra/tests/test_episode.py
  ultra/tests/test_evaluate.py
  ultra/tests/test_rllib_train.py
  ultra/tests/test_scenarios.py
  ultra/tests/test_train.py
  ultra/tests/test_ultra_package.py
Labels: ULTRA

#686 ULTRA version bump (v0.1.1 -> v0.2.0)
  ultra/setup.py
Labels: ULTRA

#683 Add custom lane offset ranges in the ULTRA task configs
  ultra/tests/scenarios/task00/config.yaml
  ultra/tests/test_scenarios.py
  ultra/ultra/scenarios/generate_scenarios.py
Labels: ULTRA

#705 Make `--headless` flag default to True in ULTRA
  ultra/docs/getting_started.md
  ultra/docs/rllib.md
  ultra/ultra/evaluate.py
  ultra/ultra/rllib_train.py
  ultra/ultra/train.py
Labels: ULTRA

#709 Fix failing ULTRA CI tests
  ultra/tests/test_evaluate.py
  ultra/tests/test_scenarios.py
  ultra/tests/test_ultra_package.py
  ultra/ultra/config.yaml
  ultra/ultra/scenarios/generate_scenarios.py
Labels: ULTRA
