Repository huawei-noah/SMARTS, pull requests merged in 2021-05, with the labels that each got.

#818 ULTRA Update callbacks
  ultra/ultra/utils/episode.py
Labels: ULTRA

#811 Run ULTRA Tune CI tests only once
  .github/workflows/ci-ultra-tests.yml
Labels: ULTRA

#806 Consistent level names for Task 2 in ULTRA
  ultra/ultra/config.yaml
  ultra/ultra/scenarios/generate_scenarios.py
  ultra/ultra/scenarios/task2/config.yaml
Labels: ULTRA

#813 ULTRA Update curriculum learning documentation
  ultra/README.md
  ultra/docs/curriculum_learning.md
  ultra/docs/getting_started.md
Labels: ULTRA

#840 Add `__init__.py` to `tests/tune/` in ULTRA
  ultra/tests/tune/__init__.py
Labels: ULTRA

#809 ULTRA Refactor curriculum learning structure
  .github/workflows/ci-ultra-tests.yml
  ultra/README.md
  ultra/docs/curriculum_learning.md
  ultra/docs/getting_started.md
  ultra/tests/test_curriculum.py
  ultra/tests/test_evaluate.py
  ultra/ultra/config.yaml
  ultra/ultra/env/ultra_env.py
  ultra/ultra/evaluate.py
  ultra/ultra/scenarios/analysis/base_analysis.py
  ultra/ultra/scenarios/curriculum/config.yaml
  ultra/ultra/scenarios/taskgb/config.yaml
  ultra/ultra/train.py
  ultra/ultra/tune.py
  ultra/ultra/utils/curriculum/coordinator.py
  ultra/ultra/utils/curriculum/curriculum_info.py
  ultra/ultra/utils/curriculum/dynamic_scenarios.py
  ultra/ultra/utils/curriculum/scenario_data_handler.py
  ultra/ultra/utils/episode.py
Labels: ULTRA

#854 new Imitation action space
  CHANGELOG.md
  examples/history_vehicles_replacement_for_imitation_learning.py
  smarts/core/agent_interface.py
  smarts/core/chassis.py
  smarts/core/controllers/__init__.py
  smarts/core/controllers/imitation_controller.py
  smarts/core/smarts.py
Labels: imitation

#783 ULTRA Improve high density traffic
  ultra/tests/test_analysis.py
  ultra/ultra/scenarios/common/begin_time_init_funcs.py
  ultra/ultra/scenarios/common/distributions.py
  ultra/ultra/scenarios/common/visualization.py
  ultra/ultra/scenarios/generate_scenarios.py
Labels: ULTRA

#849 Remove extra comma in ULTRA citation
  ultra/README.md
Labels: ULTRA

#827 Traffic History Dones
  CHANGELOG.md
  examples/history_vehicles_replacement_for_imitation_learning.py
  examples/observation_collection_for_imitation_learning.py
  smarts/core/agent_manager.py
  smarts/core/scenario.py
  smarts/core/sensors.py
  smarts/core/smarts.py
  smarts/core/sumo_road_network.py
  smarts/core/sumo_traffic_simulation.py
  smarts/core/traffic_history_provider.py
Labels: Urgent

#836 Multiple replacement of history vehicles
  examples/history_vehicles_replacement_for_imitation_learning.py
  smarts/core/agent_manager.py
  smarts/core/scenario.py
  smarts/core/smarts.py
  smarts/core/traffic_history.py
  smarts/core/traffic_history_provider.py
Labels: Urgent

#874 only observe cars for imitation learning
  examples/observation_collection_for_imitation_learning.py
  smarts/core/vehicle_index.py
Labels: Urgent, imitation

#878 examples and bug fixes for imitation learning
  CHANGELOG.md
  examples/history_vehicles_replacement_for_imitation_learning.py
  examples/observation_collection_for_imitation_learning.py
  smarts/core/chassis.py
  smarts/core/controllers/imitation_controller.py
  smarts/core/controllers/lane_following_controller.py
  smarts/core/controllers/trajectory_tracking_controller.py
  smarts/core/scenario.py
  smarts/core/sensors.py
  smarts/core/smarts.py
  smarts/core/tire_models.py
  smarts/core/traffic_history.py
  smarts/core/traffic_history_provider.py
  smarts/core/utils/math.py
  smarts/core/vehicle.py
  smarts/sstudio/genhistories.py
  tools/pybullet_linear_tire_example.py
Labels: Urgent, imitation

#886 history agent vehicle sizing
  CHANGELOG.md
  examples/history_vehicles_replacement_for_imitation_learning.py
  smarts/core/controllers/imitation_controller.py
  smarts/core/scenario.py
  smarts/core/smarts.py
  smarts/core/traffic_history.py
  smarts/core/traffic_history_provider.py
  smarts/core/vehicle.py
  smarts/sstudio/genhistories.py
Labels: Urgent, imitation
