Repository huawei-noah/SMARTS, pull requests merged in 2021-08, with the labels that each got.

#1039 Update default reward documentation in ULTRA
  ultra/docs/adapters.md
Labels: ULTRA

#1047 Add dt to Observation class
  CHANGELOG.md
  smarts/core/sensors.py
Labels: breaking change

#1042 ULTRA Modify `max_episode_steps` value's origin during evaluation
  ultra/docs/getting_started.md
  ultra/tests/test_evaluate.py
  ultra/ultra/baselines/agent_spec.py
  ultra/ultra/evaluate.py
  ultra/ultra/train.py
Labels: ULTRA

#1046 Allow for `total: 0` in ULTRA's task configs
  ultra/ultra/scenarios/generate_scenarios.py
Labels: ULTRA

#1050 Add appendix to adapter docs in ULTRA
  ultra/docs/_static/relative_position_diagram.png
  ultra/docs/_static/smarts_coordinate_system.png
  ultra/docs/adapters.md
Labels: ULTRA

#1052 Add Pip upgrade to ULTRA docs
  ultra/docs/setup.md
Labels: ULTRA

#996 Raise Exception for failing renderer tests due to missing [camera-obs] dependencies
  README.md
  smarts/core/tests/test_renderers.py
  smarts/core/tests/test_smarts.py
Labels: bug
